

.card {
  text-align: center;
  display:grid;
  grid-template-columns:1fr 1fr 1fr;
}

.author-card {
  box-shadow: 5px 5px 20px; 
  margin: 20px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.author-card img {
  box-shadow: 5px 5px 20px; 
  margin: 20px;
  border-radius: 50%;
}

.author-card button {
  box-shadow: 5px 5px 20px; 
  margin: 5px;
  width: 120px;
  background-color: #fff;
  border-color: #fff;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

ul{
list-style: none;
}

.form{
  text-align:center;

  height: 40vh;
  font-family: 'Roboto', sans-serif;
  background: -webkit-linear-gradient(45deg, rgba(4, 2, 96, 0.7), rgba(180, 49, 183, 0.9)), -webkit-linear-gradient(0deg, rgba(51, 136, 140, 0.3), rgba(87, 240, 240, 0.1));
  background: -moz-linear-gradient(45deg, rgba(4, 2, 96, 0.7), rgba(180, 49, 183, 0.9)), -moz-linear-gradient(0deg, rgba(51, 136, 140, 0.3), rgba(87, 240, 240, 0.1));
  background: -o-linear-gradient(45deg, rgba(4, 2, 96, 0.7), rgba(180, 49, 183, 0.9)), -o-linear-gradient(0deg, rgba(51, 136, 140, 0.3), rgba(87, 240, 240, 0.1));
  background: linear-gradient(45deg, rgba(4, 2, 96, 0.7), rgba(180, 49, 183, 0.9)), linear-gradient(90deg, rgba(51, 136, 140, 0.3), rgba(87, 240, 240, 0.1));
  overflow: hidden;
  
}
form{
  margin-top:15px;
  margin-left: 8px;
  display:flex;
  

}
input , button{
  
  padding:5px;
  border-radius: 25px;

}

.fullcard-container {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.author-card button:hover {
  box-shadow: 5px 5px 20px; 
  margin: 5px;
  width: 120px;
  background-color: #fff;
  border-color: #fff;
}
.nav{
  display: flex;
  justify-content: space-around;
  background-color: rgb(110, 104, 104);
  height: 10vh;
  margin: 0%;
  align-items: center;
}
a{
  text-decoration: none;
}
.Logout{ 
  cursor: pointer;
}